@mixin small-screen {
    @media screen and (max-width: 868px) {
      @content;
    }
  }

@mixin large-screen {
    @media screen and (min-width: 869px)and (max-width:1599px) { //640 px
        @content;
    }
}

@mixin x-large-screen {
    @media screen and (min-width: 1600px) {
        @content;
    }
}