@mixin small-screen {
    @media screen and (max-width: 868px) {
      @content;
    }
  }

@mixin large-screen {
    @media screen and (min-width: 869px) { //640 px
        @content;
    }
}

// @mixin large-screen {
//     @media screen and (min-width: 1367px) {
//         @content;
//     }
// }