@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;

.filter {
    display: flex;
    justify-content: center;

    &__button {
        color: $color-blue;
        border: 2px solid $color-light-blue;
        border-radius: 0.3rem;
        background-color: #ffffff;

        &:hover {
            background-color: $color-blue;
            border: 2px solid $color-blue;
            color: white;
            cursor: pointer;
        }

        &__title {
            @include font-style;
            padding: 0.5rem;
            font-size: 1.2rem;
        }
    }
}