@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;

.footer {
  color: white;
  background-color: $color-navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  min-height: 35.37rem; // consistent with height unit used
  padding: 1rem;
  margin-bottom: 1rem;
  @include font-style($size: 1.125rem);

  &__about,
  &__site-map {
    margin-bottom: 1.25rem;
  }

  &__title, 
  .big {
    @include font-bold(1.125rem);
    padding-bottom: 0.5rem;
  }

  &__list {
    padding: 1rem;
  }

  &__item {
    font-weight: 400;
  }

  ul {
    padding: 0.5rem 0;
  }
}

@include large-screen {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .big {
      padding: 0;
    }

    .item1 {
      grid-column: 1 / 3;
      margin-left: 4rem;
    }

    .item2 {
      grid-column: 3 / 4;
      margin-left: 7rem;
    }

    .item3 {
      grid-column: 4 / 5;
      margin-left: 1rem;
    }
  }
}
