@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@import '../../global-styles/_key-frames.scss';

.header {
  color: white;
  background-color: $color-navy;
  width: 100vw;

  span {
    width: 51px;
    height: 0px;
    border: solid 3px white;
    background-color: white;
    border-radius: 6px;
  }
  .header__top-area {
    display: flex;
    align-content: space-around;
    width: 100%;
    height: 9rem;

    &__left {
      display: flex;
      align-items: center;
      width: 50%;
      max-height: 9rem;

      .header__logo {
        margin-left: $size-default;
        max-width: 200px;
        width: 128px;
        height: 82px;
        height: auto; //82px /144
        min-width: 127.8px; //128px/480
        border-radius: 1rem;

        &-img {
          aspect-ratio: 1.47;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      &-title {
        display: block;

        .header__title {
          width: 4.9rem;
          padding-left: 0.5rem;
          @include font-bold(1.5rem);

          &::after {
            content: '\A';
            white-space: pre;
          }
        }
      }
    }
    .header__top-area__right {
      width: 50%;
      display: flex;
      justify-content: right;
      align-content: center;
    }
  }
  .nav__hamburger {
    margin-top: 34px;
    width: 51px;
    height: 32px;
    margin-right: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav__menu {
    display: none;
    margin: auto;
    position: relative;
  }
  .nav__menu__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    margin: 1rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .closeSpan1 {
    position: absolute;
    transform: rotate(45deg);
  }
  .closeSpan2 {
    position: absolute;
    transform: rotate(-45deg);
  }

  .nav__menuItem {
    margin-bottom: 3rem;
  }

  .nav__menuLink {
    color: white;
    @include font-bold(2.5rem);
  }

  .nav__menu--active {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%; //914/961
    width: 91.6%; //440/480
    z-index: 100;
    top: 23px;
    left: 20px;
    background-color: $color-navy;
    animation: menuFadeIn 0.2s ease forwards;
  }
  
  .nav__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 50;
  }

  .nav__background--active {
    animation: backgroundFadeIn cubic-bezier(0.4, 0, 0.2, 1) forwards;
    pointer-events: auto;
  }
}

@include large-screen {
  .header {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    height: 216px;
    justify-content: space-between;

    .header__top-area {
      height: 110px;

      &__left {
        align-items: flex-end;
        height: 108px;

        &-title {
          align-self: flex-end;
          padding-bottom: 0.5rem;

          .header__title {
            @include font-bold(2.5rem);
            padding-bottom: 1.3rem;
            width: 600px;
            height: 47px;
          }
        }

        .header__logo-img {
          object-fit: contain;
        }
      }
    }

    .nav__menu__closeBtn,
    .nav__background,
    .nav__hamburger {
      display: none;
    }

    .nav {
      display: flex;
      height: 80px;
      width: 100%;

      &__menu {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        
        .nav__menuItem {
          margin-bottom: 0;
        }
      

        .nav__menuLink {
          @include font-bold(1.5rem);
          &:hover {
            color: $color-light-blue;
          }
        }
      }
    }
  }
}
