@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;
@use 'header.scss';
@use 'testimonials.scss';
@use 'story.scss';
@use 'rooms.scss';
@use 'play.scss';
@use 'footer.scss';
@use 'online-onsite-btns.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: auto;
  width: 100vw;
  max-width: 2000px;
  min-width: 350px;
  @include font-style();
}

ol, ul , menu {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
a {
  text-decoration: none; /* Removes underline */
}


//*************main******************
.main {
  max-width: 2000px;

  &__image {
    display: block;
    width: 100vw;
    min-width: 360px;
    max-width: 2000px;
    object-fit: fill;

    &-img {
      width: 100%;
    }
  }
}

@include large-screen {
  body {
    border: 1px solid $color-grey;
  }

  .main {
    &__top-area {
      max-width: 2000px;
      height: 35vh; //468/1280
      
      .main__image {
        height: 100%;

        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


