@use '../../global-styles/_fonts.scss' as *;
@use'../../global-styles/_colors.scss' as*;


.booking-modal{//modal with all steps, initially hidden
display:none;
}

.booking-modal__step{ 
    display: none;//Initially hidden, pops up with btn
    background-color: white;
    width: 620px;
    height: 550px;
    outline: 3px solid rgba(0,0,0,0.1);
    position: fixed; //modal is in its fixed position when scrolling
    top:15%;
    left:30%;
    right:30%;
    z-index: 1000;
}

.modal__content-loading {
    color:#444444;
    font-weight:400;
    margin-right: auto;
    margin-top: auto;
}

.booking__date-custom {
    background-color: green;
    color:#444444;    
}

.booking__form h1{
    font-size: 0.8rem;
    margin-top: 0.8rem;
    font-weight: 600;
}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: center
}

.custom__date { 
    color:black;
    border-radius: 3px;
    
}

.booking__search-btn{ //Searching for available times
    background-color: rgb(76, 76, 215);
    color:white;
    margin-top:15rem;
    font-size: 1rem;
    padding:5px;
    border-radius: 3px;
    margin-left:370px;
    min-width: 12rem;
}

.booking-modal__step{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.booking-modal__step h1{
    font-weight: 500;
    font-size: xx-large;
}

.booking-modal__step a{
    font-weight: 600;
    text-decoration: underline;
    
}
