@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;

.play {
  width: 100vw;
  max-width: 2000px;

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    margin-bottom: 2rem;
  }
  &__image__container {
    width: 100%;
    
    .play__image {
      width: 100%;
      height: auto;
    }
  }
  &__details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    
    .play__title {
      @include font-bold(2rem);
      padding-top: 0.8rem;
    }
    .play__description {
      display: block;
      @include font-style($size: 1.5rem);
      margin: 1rem 0;
      padding: 2rem 0;
    }
    .play__btn {
      width: 80%; //21+21 +308/480
      @include button-primary();
      @include font-bold(1.5rem);
    }
  }
}

@include large-screen {
  
  .play__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    align-items: center;
    justify-items: center;
    margin-bottom: 12.5rem;
    
    .play__details {
      max-width: 70%;
      min-width: 480px;
      margin: auto 5%;
      &:hover {
        transform: scale(1.04); 
      }

        &__description {
          padding: 0.5rem 0;
          margin: 0;
        }
      }

      .item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .item2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .item3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      .item4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }
  }
