@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;
@use '../../global-styles/_carousel.scss' as *;

.challenges {
  display: block;
  padding-top: 11%;
  max-width: 2000px;
  margin: 15px; // height: 446px;
  
  &__title {
    text-align: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 400;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 2000px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
    
    .challengey {
      border-radius: 10px;
      position:relative;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 20px;
      margin-left: 10px;
      padding-top: 0;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.3);
      }

      .challenge__image-container {
        width: 100%;
        height: auto;
        position: relative;
            
        .challenge__type-icon {
          position: absolute; 
          top: 0; 
          right: 0; 
          font-size: 3em;
          padding: 5px;
          z-index: 10; 
        }
        .challenge__img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .challenge__ratings {
          display: flex;
          position: absolute;
          padding-left: 1rem;
          bottom: 0;
          .star{
            height: 30px;
            width: 30px;
          }
        }
        
      }
    }
    .challenge__details {
      padding: 15px;

      display: flex;
      flex-direction: column;
      &__title {
        @include font-style($size: 1.7rem);
      
        &::after {
          content: ' (on-site)';
          display: inline;
        }
      }

      &-info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        text-align: left;

        .challenge__participants {
          @include font-style($size: 0.8rem); //14px
          padding: 0 0 5px 5px;
          margin: 1rem 0;
        }

      }

      .challenge__description {
        margin: 1.5rem 0 2rem 0;
        font-size: 1.125rem;
        height: 5em;
      }
      .challenge__labels{
        font-size: 0.8rem;
        font-style: italic;
        color:#5927e2;
      }

      .challenge__btn {
        @include button-primary();
        font-size: 1rem;
        min-width: 50%;
        align-self: flex-end;
        padding: 1rem 1.5rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 1em;
      }
    }
  }
}

@include large-screen {
  .challenges {
    position: static;
    width: 100vw;
    // margin: 50px 0 100px;
    max-width: 2000px;
    padding: 0;

    &__title {
      position: static;
      text-align: center;
      justify-content: center;
      padding: 10px;
      font-size: 2.25rem;
      
      margin: 4rem auto 4rem;
    }
    .challenges__list{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 20px;
}
  }
  
  

  .challenge__details {
    display: flex;
    flex-direction: column;

    &__title {
      @include font-style($size: 1.7rem);
      padding-top: 0.5rem;
    }
  }

  .challenge__details-info {
    display: flex;
    justify-content: space-between;

    .challenge__participants {
      margin-left: auto;
      @include font-style($size: 0.9rem); //14px
      padding: 0;
    }
    .challenge__ratings {
      margin-right: auto;
    }
  }
}

.rooms {
  &__title {
    text-align: center;
    @include font-bold;
    font-size: 3rem;
    margin: 5rem 0 5rem 0;
  }
}

// }
