@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;
@use '../../global-styles/_carousel.scss' as *;

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 2000px;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  margin-left: 2rem;

  &__container {
    width: 95vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 95vw;
    height: 100%;
    max-height: 100%;
  }

  .carousel__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  &__figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 95%;
    max-height: 100%;
    padding-bottom: 1.5rem;
  }

  &__pic-container {
    .testimonials__author-pic {
      height: 73px;
      width: 72px;
      border-radius: 50%;

      .testimonials__img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .testimonials__quote {
      font-size: 1.5rem;
      @include font-italic(1.5rem);
    }

    .testimonials__author {
      padding-top: 0.5rem;
      font-size: 1.125rem;
    }
  }
}

// ----------------------Large Screen Adjustments-----------------------
@include large-screen {
  .testimonials {
    width: 100%;
    max-width: 2000px;

    &__list {
      max-width: 2000px;
      justify-content: center;
    }

    &__container {
      display: flex;
      justify-content: center;

      .testimonials__item {
        position: static;
        width: 90vw;
        visibility: visible;
        width: auto;
        animation: none;
        margin-left: 0.6rem;
      }

      .testimonials__text {
        max-width: 450px;
      }

      .testimonials__author {
        width: 280px;
      }
    }
    &__pic-container {
      .testimonials__author-pic {
        height: 96px;
        width: 96px;

        .testimonials__img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
