@use '_fonts.scss' as *;
@use '_colors.scss' as *;

@mixin button-styles(
  $bg-color,
  $text-color,
  $border-radius: 0.3rem,
  $font-size: 1.5rem
) {
  background-color: $bg-color;
  color: $text-color;
  max-width: 308px;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  text-align: center; 
  justify-content: center;
  @include font-bold($font-size);
}

@mixin button-primary() {
  @include button-styles($color-red, white);
  &:hover {
    background-color: white;
    color: $color-red;
    border: 2px solid $color-red;
  }
}

@mixin button-secondary() {
  @include button-styles($color-light-blue, $color-navy);
  &:hover {
    background-color: $color-navy;
    color: $color-light-blue;
    border: 2px solid $color-light-blue;
  }
}
