body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
}

/* container */
.booking_modal_step_2 {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: px; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 20px 30px;
    background-color: rgb(234, 235, 240);
    width: 60%;
    min-height: 50%;
    margin: 5% auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

/* heading */
.booking_modal_step_2 h1 {
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

/* form */
.user_booking {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* labels */
.user_booking label {
    font-size: 0.9rem;
    font-weight: bold;
    color: 333;
    margin-bottom: 5px;
    display: block;
}

/* input fields */
.user_booking input,
.user_booking select {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

/* input focus */
.user_booking input:focus,
.user_booking select:focus {
    border-color: blue;
}

/* button */
.submit_booking_btn {
    background-color: blue;
    color: #fff;
    font-size: 1rem;
    padding-left: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

    /* button hover */
    .submit_booking_btn:hover {
        background-color: darkblue;
    }