@use '@/styles/global-styles/_fonts.scss' as *;
@use '@/styles/global-styles/_colors.scss' as *;

.booking-modal__step{ 
    display: block;//Initially hidden, pops up with btn
    position: fixed; //modal is in its fixed position when scrolling
    transform: translate(-50%, -50%); //Vertical and horisontal centering
    background-color: white;
    outline: 3px solid rgba(0,0,0,0.1);
    width: 700px;
    height: 600px;
    top: 50%;
    left: 50%;
    z-index: 1000;
}


.modal__content-loading {
    position: relative;
    color:#444444;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 2rem;
    
}

.booking__date-custom {
    margin-top: 2rem;
    margin-bottom: -2em;
}


.booking-modal__step .modal__content .booking__date { 
    font-weight: bolder;
    color:#444444; 
    //What date would you....   
}

.custom__date { 
    border: 3px solid lightgray;
    border-radius: 4px;
    font-size: xx-large;
    margin-top: 2rem;
    color:#a19f9f;
}



.booking__search-btn{ //Searching for available times
    background-color: rgb(76, 76, 215);
    color:white;
    font-size: 1rem;
    padding:5px;
    border-radius: 3px;
    min-width: 11rem;
    display: flex;
    margin-top: 19rem;
    margin-left: 27rem;
    
}

.booking-modal__step{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.booking-modal__step #modal3{
    display: flexbox;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 12rem;
}

.booking-modal__step a{ //back to challenges link
    font-weight: 600;
    text-decoration: underline;  
}

.booking-modal__step h1{ //Thank you
 margin-bottom: 2rem;
}

.close{
    position:absolute;
    cursor: pointer;
    top:20px;
    right:20px;
    font-size: larger;
}